
* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    background: #FFFFFF !important;

    /*
    font-family: "Microsoft Yahei", Arial;
    font-family: "PingFang SC", "Noto Sans", "Noto Sans CJK SC", "Microsoft Yahei", sans-serif, Arial;
    font-family: "Microsoft YaHei", "微软雅黑", "MicrosoftJhengHei", "华文细黑", STHeiti, MingLiu, sans-serif, Arial;
    */
    font-family: "Microsoft YaHei", "微软雅黑", "MicrosoftJhengHei", "华文细黑",STHeiti,MingLiu,"PingFang SC", "Noto Sans", "Noto Sans CJK SC", "Microsoft Yahei", sans-serif, Arial;
    background-color: rgb(248, 248, 248);
    color: #333;
    position: relative;
}

li,ul,a{
    list-style: none;
    text-decoration: none;
}
a{
	color: #656565;
}
div,p{
    margin: 0;
    padding: 0;
}

.mt20{
	margin-top: 1rem;
}
.mt30{
	margin-top: 1.5rem;
}



.pr0{
	padding-right: 0 !important;
}