.Trainingcourses{
		.container_wrap{
			margin-bottom:50px;
			h1{
				font-size:18px;
				padding:40px 0 30px;
				text-align:center;color:#333;
				font-weight:bold;
			}
			font-size:14px;
			color:#656565;
			h2{
				margin:28px 0;
			}
			p{
				text-indent: 2em;
				line-height:22px;
			}	
		}
}
	
